@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e2e2e2;
    --foreground: #0a0a0a;

    --card: #e2e2e2;
    --card-foreground: #0a0a0a;

    --popover: #e2e2e2;
    --popover-foreground: #0a0a0a;

    --primary: #151517;

    /* pode mudar */
    --primary-foreground: #e2e2e2;

    --secondary: #d0d0d0;
    --secondary-foreground: #151517;

    --muted: #d0d0d0;
    --muted-foreground: #1c1c1f;
    --muted-light: #d0d0d048;

    --accent: #d0d0d0;
    --accent-foreground: #151517;

    --destructive: #b42626;

    --green: #127247;
    --green-light: #35bd821e;

    --border: #d0d0d0;
    --input: #d0d0d0;
    --ring: #dddddd;

    --icon: #151517;
    --radius: 0.8rem;

    --vis-tooltip-background-color: transparent !important;
    --vis-tooltip-border-color: transparent !important;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #e2e2e2;

    --card: #0a0a0a;
    --card-foreground: #e2e2e2;

    --popover: #0a0a0a;
    --popover-foreground: #e2e2e2;

    --primary: #e2e2e2;
    --primary-foreground: #1c1c1f;

    --secondary: #1c1c1f;
    --secondary-foreground: #e2e2e2;

    --muted: #1c1c1f;
    --muted-foreground: #adabab;
    --muted-light: #1c1c1f48;

    --accent: #1c1c1f;
    --accent-foreground: #e2e2e2;

    --destructive: #b42626;

    --green: #28ab70;
    --green-light: #0ca56328;

    --border: #1c1c1f;
    --input: #1c1c1f;
    --ring: #1c1c1f;

    --icon: #e2e2e2;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: "Geist-Regular", sans-serif !important;
  }
}
@layer base {
  body {
    @apply bg-background text-foreground transition-all;
  }
}
